/* CardAppointments.module.css */

/* Estilos para el contenedor principal que centra el formulario */
.mainContainer {
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 100%; /* Ajusta el ancho al 100% */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  position: relative; /* Posición relativa para que el fondo no se desplace */
  background-image: url("https://st.depositphotos.com/16122460/61041/i/450/depositphotos_610413098-stock-photo-blurred-view-stylish-barbershop-interior.jpg"); /* Imagen de fondo */
  background-size: cover; /* Cubrir toda el área del contenedor */
  background-position: center; /* Centrar la imagen en el contenedor */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
}

/* Estilos para el formulario de reserva */
.AppointmentForm {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro más transparente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del formulario */
  padding: 20px;
  max-width: 600px; /* Aumenta el ancho máximo del formulario */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  font-family: Arial, sans-serif;
  position: relative; /* Asegúrate de que el formulario esté en el flujo normal */
  z-index: 1; /* Asegura que el formulario esté por encima de la imagen de fondo */
}

.AppointmentForm h2 {
  font-family: "Play", sans-serif;
  text-align: center; /* Centra el título del formulario */
  color: white; /* Cambia el color del texto a blanco */
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.select {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.button {
  background-color: rgb(204, 109, 20); /* Nuevo color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Hacer que el botón sea un bloque para centrar */
  margin: 0 auto; /* Centrar el botón */
}

.button:hover {
  background-color: #c57d20; /* Color más oscuro al pasar el mouse (ajusta si lo deseas) */
}

/* Estilos para la selección de tiempo */
.timeSelectors {
  display: flex;
  justify-content: space-between; /* Espacio entre los selectores */
}
