/* Estilos para el contenedor principal */
.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  overflow: hidden; /* Ocultar cualquier contenido que sobresalga */
}

/* Estilos para el video de fondo */
.videoBackground {
  position: absolute; /* Posiciona el video detrás del contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.videoBackground video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra el contenedor sin deformarse */
}

/* Estilos para el contenedor del contenido */
.landingContainer {
  position: relative; /* Asegura que el contenido esté por encima del video */
  z-index: 1; /* Asegura que el contenido esté por encima del video */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
  padding: 30px; /* Aumenta el espaciado interno */
  border-radius: 10px; /* Bordes redondeados opcionales */
  max-width: 600px; /* Ancho máximo del contenedor */
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}

/* Estilos para el título */
.landingTitle {
  font-size: 32px; /* Tamaño de la fuente ajustado */
  font-weight: bold;
  margin-bottom: 30px; /* Espacio inferior incrementado */
}

/* Estilos para el subtítulo */
.landingSubtitle {
  font-size: 20px; /* Tamaño de la fuente ajustado */
  margin-bottom: 30px; /* Espacio inferior incrementado */
}

/* Estilos para el contenedor de botones */
.buttonContainer {
  margin-bottom: 30px; /* Espacio inferior incrementado */
}

.button {
  background-color: #5c4033; /* Color caoba oscuro que se asemeja a la madera */
  color: white;
  padding: 12px 24px; /* Ajusta el espaciado interno del botón */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4a2c1d; /* Un tono caoba más oscuro para el hover */
}
