.container {
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Asegúrate de que se apilen verticalmente */
  height: 100vh; /* Asegúrate de que el contenedor tenga la altura de la ventana */
  padding-top: 60px; /* Espacio adicional para el navbar si es fijo */
  background-image: url("https://img.freepik.com/fotos-premium/peluqueria-fondo-borroso-peluqueria-peluqueria-peluqueria-hombres_152904-9372.jpg"); /* Imagen de fondo */
  background-size: cover; /* Asegúrate de que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  filter: blur(0); /* Asegúrate de que no haya filtro de desenfoque aplicado */
}

.appointmentsGrid {
  display: flex; /* Usar flexbox para alinear las tarjetas */
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en varias filas */
  justify-content: space-between; /* Espacio entre las tarjetas */
  margin: 20px; /* Margen alrededor del contenedor de tarjetas */
}

/* Estilo para cada tarjeta */
.card {
  flex: 0 0 calc(33.33% - 20px); /* Cada tarjeta ocupará 1/3 del ancho del contenedor menos el espacio */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
  margin-bottom: 20px; /* Espacio entre filas de tarjetas */
  max-width: 300px; /* Ajusta según sea necesario */
}
.overlay {
  position: fixed; /* Para que ocupe toda la pantalla */
  top: 0; /* Alinear al top */
  left: 0; /* Alinear a la izquierda */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex; /* Para centrar contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  z-index: 999; /* Para asegurarse de que esté sobre otros elementos */
}

/* Contenedor para la vista de "No hay reservas" */
.noAppointmentsContainer {
  display: flex;
  flex-direction: column; /* Alinea la imagen y el texto verticalmente */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  position: relative; /* Posiciona el contenedor como relativo */
}

/* Estilos para la imagen de "No hay reservas" */
.noAppointmentsImage {
  max-width: 80%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

/* Estilos para el texto de "No hay reservas" */
.noAppointments {
  font-size: 24px; /* Aumenta el tamaño de la fuente para hacerlo más grande */
  font-weight: bold; /* Negrita para destacar el texto */
  color: white; /* Asegúrate de que el texto sea blanco para contraste */
  text-align: center; /* Centra el texto */
}
