/* Estilo para el contenedor de fondo */
.backgroundContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/3993320/pexels-photo-3993320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out; /* Transición para la opacidad */
}

/* Estilos para el contenedor del formulario, inicialmente oculto */
.contactContainer {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Fondo negro con 40% de transparencia */
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  text-align: center;
  z-index: 1;
  position: relative;
  opacity: 0; /* Inicialmente oculto */
  visibility: hidden; /* Inicialmente oculto */
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Transición para la visibilidad */
}

/* Mostrar formulario cuando el fondo esté completamente cargado */
.contactContainer.show {
  opacity: 1;
  visibility: visible;
}

/* Estilo de hover para una pequeña animación */
.contactContainer:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.contactContainer h1 {
  font-family: "Play", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: "Play", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
  text-align: left;
}

input,
textarea {
  width: 85%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Play", sans-serif;
  margin-bottom: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

textarea {
  resize: vertical;
}

.submitButton {
  background-color: #5c4033;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #4a2c1d;
}

.submitButton:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingMessage {
  font-family: "Play", sans-serif;
  font-size: 16px;
  color: rgb(204, 109, 20);
  margin-top: 20px;
  font-weight: bold;
}
