@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

.formulario {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Fondo negro con 40% de transparencia */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 350px; /* Ancho del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
  text-align: center; /* Centrar el contenido del formulario */
  box-shadow: 0 4px 40px rgba(255, 255, 255, 0.6); /* Sombra difusa en blanco */
}

.tarjeta {
  background-color: #f3ecec; /* Color de fondo de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espacio inferior */
}

.letradelogin {
  font-family: "Play", sans-serif;
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  color: rgb(204, 109, 20);
  margin-bottom: 20px; /* Espacio inferior */
}

.input {
  width: 80%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Espacio inferior */
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde con color gris */
  font-weight: bold; /* Texto en negrita */
  font-size: 16px; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  outline: none; /* Quita el resplandor al enfocar */
  transition: border-color 0.3s ease; /* Transición suave al cambiar el color del borde */
  font-family: "Play", sans-serif;
}

/* Estilo al enfocar el input */
.input:focus {
  color: rgb(204, 109, 20);
}

.boton {
  background-color: #5c4033; /* Color caoba oscuro que se asemeja a la madera */
  color: white; /* Color del texto */
  border: none; /* Quitar borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
  margin-top: 20px; /* Espacio superior */
}

.boton:hover {
  background-color: #4a2c1d; /* Un tono caoba más oscuro para el hover */ /* Un tono caoba más oscuro para el hover */ /* Cambiar color de fondo al pasar el cursor */
}

.boton:disabled {
  background-color: #b0b0b0; /* Cambiar color de fondo cuando está deshabilitado */
  cursor: not-allowed; /* Cambiar cursor cuando está deshabilitado */
}

.logo {
  width: 80px; /* Ajusta el ancho de tu logo según tus necesidades */
  height: 80px; /* Establece la misma altura que el ancho */
  margin-bottom: 10px; /* Agrega margen inferior para separar el logo del título */
  border-radius: 50%; /* Redondea la imagen */
  box-shadow: 0 4px 40px rgba(255, 255, 255, 0.6); /* Sombra difusa en blanco */
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Espacio superior */
}
