@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black; /* Color de fondo del navbar */
  color: rgb(204, 109, 20); /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del navbar */
  font-family: "Play", sans-serif; /* Fuente de la navbar */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px; /* Ancho del logo */
  height: 80px; /* Altura del logo igual al ancho para mantener la proporción */
  border-radius: 50%; /* Bordes redondeados en el logo */
  margin-bottom: 10px; /* Margen inferior del logo */
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em; /* Espacio entre los enlaces */
  font-size: 1.2em; /* Tamaño de fuente */
}

.links a {
  text-decoration: none; /* Quitar subrayado de los enlaces */
  color: rgb(204, 109, 20); /* Color del texto de los enlaces */
  padding: 10px 15px; /* Espaciado interno de los enlaces */
  border-radius: 5px; /* Bordes redondeados en los enlaces */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.links a:hover {
  background-color: rgb(204, 109, 20); /* Color de fondo al pasar el cursor */
  color: white; /* Color del texto al pasar el cursor */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el enlace */
}

.navbarContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2em; /* Espacio entre el logo y los botones */
}

.navbarButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em; /* Espacio entre los botones */
}
