.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(51, 160, 160);
  padding-bottom: 1em;
  align-items: center;
  background-color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  border-radius: 20px;

  img {
    height: 80px;
    padding: 20px 0 0 20px;
  }
}

.avatar {
  display: grid;
  place-items: center;
  height: 100%;
  img {
    width: 50px;
    padding: 20px 20px 0 0;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 0 0 0;
  gap: 1em;
  text-shadow: 2px 2px 4px black;
  font-size: 1.2em;
  span:hover {
    color: white;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    cursor: pointer;
    color: white;
  }
}
