.fade-enter {
  opacity: 0;
  filter: blur(10px); /* Comienza completamente borroso */
}

.fade-enter-active {
  opacity: 1;
  filter: blur(0); /* Se vuelve nítido */
  transition: opacity 1s ease-in-out, filter 1s ease-in-out; /* Transición lenta */
}

/* Transición de salida */
.fade-exit {
  opacity: 1;
  filter: blur(0); /* Mantiene nitidez al salir */
}

.fade-exit-active {
  opacity: 0;
  filter: blur(10px); /* Se vuelve borroso al salir */
  transition: opacity 1s ease-in-out, filter 1s ease-in-out; /* Transición lenta */
}
