/* Ajustes al contenedor de tarjetas */
.turnosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 400px; /* Establece un ancho fijo */
  height: 400px; /* Establece una altura fija */
  overflow: auto; /* Agrega barras de desplazamiento si el contenido excede el tamaño */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto total */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Ajustes a las tarjetas */
.CardTurnos {
  background-color: #333; /* Fondo oscuro para la tarjeta */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para resaltar */
  padding: 20px;
  font-family: "Play", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Incluye padding y border en el ancho total de la tarjeta */
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible dentro de la columna */
  max-width: 250px; /* Ancho máximo de la tarjeta */
  height: auto; /* Altura automática basada en el contenido */
  background-image: url("https://static.vecteezy.com/system/resources/previews/013/277/783/non_2x/stylish-black-wavy-background-for-business-cards-presentations-banners-etc-vector.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir el área de la tarjeta */
  background-position: center; /* Centra la imagen en la tarjeta */
  color: white; /* Color de texto blanco para resaltar */
}

/* Asegura que las imágenes se ajusten adecuadamente */
.CardTurnos img {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Altura de la imagen */
  border-radius: 50%; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio entre la imagen y los datos */
}

/* Ajusta el contenedor de datos */
.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* Asegura que el texto esté por encima de la imagen de fondo */
}

/* Ajusta el estilo de los datos */
.datos span {
  margin-bottom: 10px; /* Espacio entre los elementos */
  text-align: center; /* Centra el texto */
  font-size: 16px; /* Tamaño de la fuente */
  color: #fff; /* Color de la fuente blanco */
  font-weight: bold; /* Negrita */
  line-height: 1.5; /* Espaciado entre líneas */
}

/* Efectos de hover para la tarjeta */
.CardTurnos:hover {
  transform: scale(1.05) translateY(-5px); /* Escala y desplaza hacia arriba */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.CardTurnos:hover .datos span {
  color: #ffcc00; /* Color del texto al pasar el cursor */
}

/* Estilos para el estado activo */
.active {
  background-color: #1e7e34; /* Fondo verde oscuro */
  color: white; /* Texto blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el estado activo */
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Efecto de hover para el estado activo */
.active:hover {
  background-color: #155d27; /* Color verde aún más oscuro */
  transform: scale(1.05); /* Escala el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra sutil más pronunciada */
}

/* Estilos para el estado cancelado */
.cancelled {
  background-color: #c82333; /* Fondo rojo oscuro */
  color: white; /* Texto blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: not-allowed; /* Cursor para indicar que no es interactivo */
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Efecto de hover para el estado cancelado */
.cancelled:hover {
  background-color: #a71d2a; /* Color rojo más oscuro */
  transform: scale(1.05); /* Escala el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra sutil más pronunciada */
}
