.turnosContainer {
  display: flex; /* Usar flexbox para el contenedor */
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan */
  justify-content: center; /* Centrar las tarjetas horizontalmente */
  padding: 20px; /* Espaciado interno */
  margin: 0 auto; /* Centrar el contenedor en la página */
}

/* Estilo de cada tarjeta */
.CardTurnos {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
  padding: 50px; /* Aumentar el espaciado interno de la tarjeta */
  margin: 30px; /* Espaciado entre tarjetas */
  max-width: 300px;
  color: white; /* Color de texto blanco */
  display: flex; /* Usar flexbox en la tarjeta */
  flex-direction: column; /* Disposición vertical del contenido */
  align-items: center; /* Centrar contenido horizontalmente */
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
  height: auto; /* O especifica un valor fijo si es necesario */
}

/* Estilos para los datos de la tarjeta */
.datos {
  display: flex; /* Usar flexbox para los datos */
  flex-direction: column; /* Organizar en columnas */
  align-items: center; /* Centrar elementos horizontalmente */
}

/* Espaciado entre los elementos de datos */
.datos span {
  margin: 10px 0; /* Aumentar el espaciado vertical entre cada dato */
  margin-top: 10px; /* Agregar margen superior para separar más del logo */
}

.logo {
  width: 100px; /* Ancho del logo */
  height: 100px; /* Alto del logo para que sea un cuadrado */
  border-radius: 50%; /* Borde redondeado para hacerlo circular */
  object-fit: cover; /* Ajusta la imagen para cubrir el área del logo */
  overflow: hidden; /* Oculta cualquier desbordamiento */
  margin-bottom: 15px; /* Espacio inferior entre el logo y los datos */
}

.active {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color del texto */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor a mano */
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s, transform 0.3s; /* Transición suave para el color de fondo y tamaño */
}

.active:hover {
  background-color: #45a049; /* Color más oscuro al pasar el mouse */
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.active:active {
  transform: scale(1.2); /* Aumenta el tamaño al hacer clic */
}
