.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1403130812/es/foto/loft-interior-del-sal%C3%B3n-moderno-renderizado-3d.jpg?s=2048x2048&w=is&k=20&c=yotoJ1VSJD7RlQ5p8_vDpj-6ZM_SPM4kI0KZulY_8E0=");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.textContainer {
  background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  padding: 30px; /* Aumenta el padding para más espacio interno */
  border-radius: 10px; /* Bordes redondeados para un look más suave */
  margin-bottom: 40px; /* Espacio debajo del contenedor de texto */
}

.welcomeText {
  font-size: 28px; /* Tamaño de fuente reducido */
  margin-bottom: 15px; /* Espacio inferior reducido */
  text-align: center; /* Centrar el texto */
}

.description {
  font-size: 18px; /* Tamaño de fuente reducido */
  max-width: 500px; /* Reducir el ancho máximo */
  margin: 0 auto 20px auto; /* Centrar horizontalmente y ajustar margen inferior */
  text-align: center; /* Centrar el texto */
}

.button {
  background-color: #5c4033; /* Color caoba oscuro que se asemeja a la madera */
  color: white;
  padding: 15px 30px; /* Aumenta el padding para un botón más grande */
  border: none;
  border-radius: 25px; /* Bordes más redondeados para un look moderno */
  font-size: 18px;
  font-family: "Play", sans-serif; /* Asegura que la tipografía sea consistente */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Agrega una transición de transformación */
  margin-top: 20px; /* Espacio arriba del botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para darle un efecto de profundidad */
}

.button:hover {
  background-color: #4a2c1d; /* Un tono caoba más oscuro para el hover */
  transform: translateY(-2px); /* Añade un efecto de desplazamiento sutil */
}

.button:active {
  transform: translateY(1px); /* Efecto de pulsación al hacer clic */
}
