.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1403130812/es/foto/loft-interior-del-sal%C3%B3n-moderno-renderizado-3d.jpg?s=2048x2048&w=is&k=20&c=yotoJ1VSJD7RlQ5p8_vDpj-6ZM_SPM4kI0KZulY_8E0=");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.textContainer {
  background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  padding: 30px; /* Aumenta el padding para más espacio interno */
  border-radius: 10px; /* Bordes redondeados para un look más suave */
  margin-bottom: 40px; /* Espacio debajo del contenedor de texto */
}

.welcomeText {
  font-size: 36px;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  max-width: 600px;
  margin-bottom: 30px; /* Espacio debajo de la descripción */
}

.button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px; /* Aumenta el padding para un botón más grande */
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Espacio arriba del botón */
}

.button:hover {
  background-color: #0056b3;
}
