@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

.registrocontainer {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Fondo negro con 40% de transparencia */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  width: 350px; /* Ancho del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
  text-align: center; /* Centrar el contenido del formulario */
  margin-top: 70px; /* Espaciado desde la parte superior */
  position: relative; /* Posición relativa para que el fondo no se desplace */
  z-index: 1; /* Coloca el formulario sobre la imagen de fondo */
  box-shadow: 0 4px 40px rgba(255, 255, 255, 0.6); /* Sombra difusa en blanco */
}

.registroh2 {
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  color: rgb(204, 109, 20);
  margin-bottom: 20px; /* Espacio inferior */
}

.inputregistro {
  width: 80%; /* Ancho completo */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 12px; /* Espacio inferior */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde con color gris */

  font-family: "Play", sans-serif;
}

.botonregistro {
  background-color: #5c4033; /* Color caoba oscuro que se asemeja a la madera */
  color: white; /* Color del texto */
  border: none; /* Quitar borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
  margin-top: 20px; /* Espacio superior */
  margin-right: 10px; /* Espaciado entre botones */
}

.botonregistro:hover {
  background-color: rgb(
    204,
    109,
    20
  ); /* Cambiar color de fondo al pasar el cursor */
}

.botonregistro:disabled {
  background-color: #b0b0b0; /* Cambiar color de fondo cuando está deshabilitado */
  cursor: not-allowed; /* Cambiar cursor cuando está deshabilitado */
}

.logo {
  width: 80px; /* Ajusta el ancho de tu logo según tus necesidades */
  height: 80px; /* Establece la misma altura que el ancho */
  border-radius: 50%; /* Redondea la imagen */
  box-shadow: 0 4px 40px rgba(255, 255, 255, 0.6); /* Sombra difusa en blanco */
}
